input[type='text'] {
	width: 110px;
}

input[type='button'] {
	width: 80px;
	outline: none;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

input.cb-copy {
	width: 50px;
}

input.glowGreen {
	-webkit-box-shadow: 0 0 5px #00ff00;
	-moz-box-shadow: 0 0 5px #00ff00;
	box-shadow: 0 0 5px #00ff00;
}

input.glowRed {
	-webkit-box-shadow: 0 0 5px red;
	-moz-box-shadow: 0 0 5px red;
	box-shadow: 0 0 5px red;
}

label {
	display: block;
	float: left;
	width: 90px;
}

label.checkbox {
	width: auto;
}

div#calc div {
	margin-top: 7px;
}
