input[type='text'] {
	width: 120px;
}
input[type='button']
{
	width: 80px;
	outline:none;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
}
input.glowGreen
{
	box-shadow: 0 0 5px rgba(0, 255, 0, 1);
	-webkit-box-shadow: 0 0 5px rgba(0, 255, 0, 1);
	-moz-box-shadow: 0 0 5px rgba(0, 255, 0, 1);
}
input.glowRed
{
	box-shadow: 0 0 5px rgba(255, 0, 0, 1);
	-webkit-box-shadow: 0 0 5px rgba(255, 0, 0, 1);
	-moz-box-shadow: 0 0 5px rgba(255, 0, 0, 1);
}
label
{
    display: block;
    float: left;
    width: 80px;
}
label.checkbox
{
	width: auto;
}